// Mis Fuentes
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,&display=swap');

// Mis Propios Estilos
html {
  box-sizing: border-box;
  overflow: scroll; // Saco la barra de scroll
  overflow-x: hidden; // Escondo la barra horizontal
  width: 100%;
}

#hero {
  background: url('../img/hero-bg.jpg');
  background-position-x: center;
  background-size: cover;
}
