// Mis Fuentes
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,&display=swap');

// Mis Propios Estilos
html {
  box-sizing: border-box;
  overflow: scroll; // Saco la barra de scroll
  overflow-x: hidden; // Escondo la barra horizontal
  width: 100%;
  scroll-behavior: smooth;
}

header {
  background: #051b4d;
  @apply justify-between p-4 mx-auto tablet:flex text-primary-light font-montserrat;

  &header__item {
    @apply text-left tablet:w-1/3 hover:cursor-pointer;
  }
}

// Sección de Hero
#hero {
  background: url('../img/hero-bg.jpg');
  background-position-x: center;
  background-size: cover;
}

.navbar {
  @apply font-montserrat;

  &__link {
    @apply px-2 py-2 text-gray-400 transition duration-300 hover:text-secondary-light hover:font-semibold;

    &--active {
      @apply px-2 py-2 font-semibold border-b border-ternary-light text-primary-light;
    }
  }

  &__button--active {
    @apply px-2 py-2 transition duration-300 bg-yellow-300 rounded text-primary-dark hover:bg-yellow-400;
  }

  &__button--outline {
    @apply px-2 py-2 text-gray-300 transition duration-300 rounded hover:bg-blue-400 hover:text-secondary-light;
  }
}

.mobile-menu {
   &__link {
    @apply block px-2 py-4 text-sm transition duration-300 hover:bg-blue-500 text-secondary-light;

    &--active {
      @apply block px-2 py-4 text-sm font-semibold bg-blue-500 text-primary-light;
    }
  }
}

.banner {
  @apply px-4 pt-6 tablet:flex;

  &__title {
    @apply py-2 text-5xl font-semibold text-white font-montserrat;
  }

  &__text {
    @apply py-1 text-white;
  }

  &__button {
    @apply px-2 py-2 mt-4 transition duration-300 bg-yellow-300 rounded text-primary-dark hover:bg-yellow-400;
  }

  &__image {
    @apply items-center justify-center py-2 tablet:px-6 tablet:w-2/3;
  }

}

#contact {
  background: url('../img/contact-bg.jpg');
  background-position-x: center;
  background-size: cover;
}

footer {
  background: #051b4d;
}

// Slider
.blog-slider__container {
  max-width: 80%;
  position: relative;
  margin: auto;
  height: 300px;;
  .blogSlides img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 0.5rem;
  }
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.blog-slider__text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */

.blog-slider__numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.blogSlider__dots {
  text-align: center;
  &--dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
}

.active,
.blogSlider__dots--dot:hover {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
